.header{
    height: 40px;
    width: 100%;
    background:black;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header h1{
    color:azure;
    font-size: 30px;
    margin: 0; 
} 
.header .icons{
    font-size: 32px;
    margin:300px auto;
    margin-left: 660px;
    position:relative;
}
.header #whatsapp,#instagram,#linkedin,#youtube,#facebook{
    margin: 20px;
}

